@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Playfair+Display+SC:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
}
